<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteRule ^ public/index.php [L]

#Condiciona que todo acesso vindo da porta 80 será afetado pela regra
RewriteCond %{SERVER_PORT} 80

#Definição da regra, neste caso, sempre utilizar o https:// mesmo quando acessado por http
RewriteRule ^(.*)$ https://pdv.danieltecnologia.com [R,L]
</IfModule>